/* ส่วนของหน้า home */

.container3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  flex-flow: wrap;
  justify-content: space-between;
  position: absolute;
  margin-top: 300px;
  margin-left: 10%;
  transform: translate(-50%, -50%);
  background: #b0f0da;
  padding: 20px;
  border-radius: 10px;
  width: 1095px;
  display: flex;
  gap: 10px;  /* ปรับระยะห่างระหว่างการ์ดตามความต้องการ */
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.box {
  flex-basis: calc(20% - 20px);
  background-color: rgb(75, 211, 166);
  /* margin-bottom: 30px; */
  font-weight: 700;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  justify-content: flex-start;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}


@media (max-width: 768px) {
  .box {
      flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .box {
      flex-basis: 100%;
  }
}

.D {
  font-size: 40px;
  width: 50px;
}

.g {
  font-size: 17px;
  font-weight: 700;
  margin-top: 10px;
}

.icon-box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Tables{
  background-color: lightblue;
  border-radius: 10px;
  color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* เพิ่มเอฟเฟกต์เงา */
  transition: box-shadow 0.3s ease;
  border-collapse: collapse;
  width: 100%;
  }
  .Tables th{
  background-color: #20b275;
  border: 1px solid #20b275;
  color:#fff; /* เพิ่มเส้นกรอบ */
  text-align: left;
  padding: 8px;
  
  }
  .Tables td {
  background-color: rgb(101, 201, 131);
  }
  
  .Tables tr {
  background-color: lightblue; /* แบ่งแถว */
  border-bottom: 1px solid rgb(182, 230, 207) ;
  }

  .chart-container1 {
      box-sizing: border-box;
      display: block;
      height: 250px;
      width: 250px;
      margin-top: 20px;
      
    }
    
  .container-left {
      box-sizing: border-box;
      display: block;
  }
  
  .container-left .card {
      justify-content: center;
      background-color: #95dc86;
      text-align: left;
      font-size: 18px;
      border-radius: 15px;
      color: #000;
      align-items: center;
      padding: 5px;
      margin-top: 15px;
  }