.col{
  display:flex;
  font-size: 15px;
  gap:10px;
  padding-top: 1px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  

}

.fas{
  width: 110px;
 text-align: center;
  align-items: center;
}

.Name-icon{
  font-size: larger;
  white-space:nowrap;
  margin-top: -19px;
}
.Name-icons{
  font-size: larger;
  white-space:nowrap;
  margin-top: -19px;
}
.Name-icon3{
  font-size: larger;
  white-space:nowrap;
  margin-top: -19px;
}
.Name-icon4{
  font-size: larger;
  white-space:nowrap;
  margin-top: -19px;
}
.card-body{
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.row{
  line-height: 20px;
  justify-content: space-between;
  padding: auto;
}

.text-link1{
  color: white;
  font-size: 12px;
  justify-content: center;
}

.Title-card{
  text-align: left;
  margin-top: 25px;
}



.button-card{
  margin-top: 20px;
  margin-left: 165px;
  
}

.Home-icon{
  width: 80px;
  cursor: pointer;
}
.Home-medical{
  width: 80px;
  cursor: pointer;
}

.Home-calendarDays{
  width: 80px;
  cursor: pointer;
}
.Home-Desktop{
  width: 80px;
  cursor: pointer;
}
.Home-Queue{
  width: 80px;
  cursor: pointer;
}