.main-public-layout {
  min-height: 100vh;
}
.main-public-layout {
  min-height: 130vh;
  position: relative;
  top: 102px;
  background-color: #E3F2FD;
}
.p-layout {
  padding-left: 40px !important;
  padding-right: 80px !important;
}
#public .navbar {
  color: #ffff !important;
  background-color: #133C55;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
}

#public .logo-title {
  font-size: 35px;
  color: #ffff;
  text-decoration: none;
}

#public .nav-link {
  color: #ffff;
}

#public .nav-active {
  color: #f8bc07 !important;
}
@media screen and (max-width: 1250px) {
  .p-layout {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  #public .navbar {
    color: #ffff !important;
    background-color: #133C55;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    font-weight: bold;
  }
  
  #public .logo-title {
    font-size: 35px;
    color: #ffff;
    text-decoration: none;
  }
  
  #public .nav-link {
    color: #ffff;
  }
  

  
}
#public .footers {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #ffff !important;
  height: 250px;
  background-color: #133C55;
  text-align: center;
}

@media screen and (max-width: 600px) {
  
.main-public-layout {
  min-height: 130vh;
  position: relative;
  top: 50px;
  background-color: #E3F2FD;
}
#public .footers {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #ffff !important;
  height: 120px;
  background-color: #133C55;
  text-align: center;
}
  }




























































  #public .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #ffff !important;
    height: 220px;
    background-color: #133C55;
    text-align: center;
  }
  