table, td, th {    
  
  text-align: left;
}

table {
  border-collapse: collapse;

  width: 100%;
  background-color: aliceblue;
}

th, td {
  padding: 15px;

}
.img-d {
  border-radius: 60%;
  width: 64px;
height: 64px;
overflow: hidden;
text-align: center;
  object-fit: cover;
}
/* pagination.css */

.pagination {

  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  list-style: none;
  margin: 0 5px;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #fff ;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  background-color: #fff;
}

.pagination li.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

.pagination li:hover {
  background-color: #fff;
}

.pagination li.disabled {
  pointer-events: none;
  
  opacity: 0.6;
}


.img-hpts {
  border-radius: 80%;
 align-items: center;
 margin-right: 550px;
overflow: hidden;
text-align: center;
  object-fit: cover;
  width: 200px;
  height: 200px;
}
.UpdateDoc
{
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  
}