.ShowData {
  text-align: center;
  margin-top: 2rem;
}

button {
  padding: 10px 20px;
  margin: 0 5px;
}

#tableContainer {
  margin-top: 20px;
  font-size: 18px;
}
@media screen and (max-width: 600px) {
.text22{
font-size: 10px;

}
.text223{
  font-size: 10px;
  
  }
  .btnh{
    width: 35px;
  }
  .fadd{
    font-size: 12px;
    margin-right: 50px;
  }
}